<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free SMS</title>
    <link rel="stylesheet" href="{{ static_url('css/semantic.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/sms.css') }}">
</head>
<body>
<div class="ui two column stackable center aligned page grid">
    <div class="centered column">
        <div class="row">
            <h2 class="ui green center aligned header">
                <i class="mail icon"></i>

                <div class="content">
                    Free SMS
                    <div class="sub header">Send free SMS</div>
                </div>
            </h2>
            <h4 class="ui horizontal header divider">
            </h4>

            <form class="ui form">
                <input type="text" name="carrier" id="carrier" value="att" style="display: none"/>

                <div class="field">
                    <div class="5 fluid ui buttons">
                        <div class="ui blue basic active button" data-carrier="att">AT&T</div>
                        <div class="ui red basic button" data-carrier="verizon">Verizon</div>
                        <div class="ui yellow basic button" data-carrier="sprint">Sprint</div>
                        <div class="ui pink basic button" data-carrier="tmobile">T-Mobile</div>
                        <div class="ui purple basic button" data-carrier="metropcs">MetroPCS</div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui big fluid input">
                        <input type="text" name="phone_number" id="phone_number" placeholder="Enter a phone number"
                               required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui big fluid input">
                        <textarea maxlength="160" name="message" id="message" placeholder="Enter your message"
                                  required></textarea>

                        <div id="counter" class="ui bottom right attached big label">160</div>
                    </div>

                </div>
                <div class="field">
                    <div class="ui huge fluid positive submit button"><i class="mail icon"></i> Send</div>
                </div>
                <div class="field">
                    <a href="http://github.com/tmrhmd">@tmrhmd</a> &copy; 2015
                </div>
                <div class="ui dimmer">
                    <h2 class="ui inverted icon header response"></h2>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ static_url('js/semantic.min.js') }}"></script>
<script src="{{ static_url('js/jquery.mask.min.js') }}"></script>
<script src="{{ static_url('js/sms.js') }}"></script>
</body>
</html>